@media only screen and (max-height:803px) {
    .Form-Main-Container {
        height: auto;
    }
}

@media only screen and (max-width:696px) {
    .Form-Main-Container {
        width: 100%;
    }
}